<h1 class="page-title">
    کنترل پنل مدیریت سایت
    <small></small>
</h1>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="#">صفحه اصلی</a>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <span>مرکز کنترل کاربر</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                دسترسی سریع
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a data-toggle="modal" href="#JJModal">
                        <i class="icon-bell"></i>نمونه فرمها
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i>گزینه شماره 2
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i>گزینه شماره 3
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i>گزینه شماره 4
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
