<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        کلیه حقوق مادی و معنوی محفوظ است
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="/Content/Admin/assets/global/plugins/respond.min.js"></script>
<script src="/Content/Admin/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
@Scripts.Render("~/bundles/jquery")








@*<script src="/Content/Admin/scripts/jquery.min.js" type="text/javascript"></script>*@
<script src="/Content/Admin/scripts/bootstrap.min.js" type="text/javascript"></script>

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>*@
<script src="/Content/Admin/scripts/js.cookie.min.js" type="text/javascript"></script>
<script src="/Content/Admin/scripts/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/Content/Admin/scripts/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/Content/Admin/scripts/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
@*<script src="/Content/Admin/scripts/jstree.js" type="text/javascript"></script>*@
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/Content/Admin/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
@*<script src="/Content/Admin/scripts/ui-tree.js" type="text/javascript"></script>*@
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/Content/Admin/scripts/layout.min.js" type="text/javascript"></script>
<script src="/Content/Admin/scripts/demo.min.js" type="text/javascript"></script>
<script src="/Content/Admin/scripts/quick-sidebar.min.js" type="text/javascript"></script>
@*<script src="/Content/Admin/scripts/jquery.validate.min.js" type="text/javascript"></script>*@
@*<script src="/Content/Admin/scripts/additional-methods.min.js" type="text/javascript"></script>*@
@*<script src="/Content/Admin/scripts/select2.full.min.js" type="text/javascript"></script>*@
@*<script src="/Content/Admin/scripts/jquery.backstretch.min.js" type="text/javascript"></script>*@
@*<script src="/Content/Admin/scripts/login-5.min.js" type="text/javascript"></script>*@
@*<script src="/Content/Admin/scripts/form-validation.js" type="text/javascript"></script>*@
@*<script src="/Content/Admin/scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>*@
@*<script src="/Content/Admin/scripts/persianumber.min.js" type="text/javascript"></script>*@


@*<script type="text/javascript">
    $(document).ready(function() {
        $('*').persiaNumber('fa');
    });
</script>*@


<!--#include file="forms.aspx"-->
