<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert">
                <strong>هشدار!</strong> آیا شما از حذف این اسلاید مطمئن هستید؟
            </div>
            @using (Ajax.BeginForm(MVC.Admin.Slider.ActionNames.Delete, MVC.Admin.Slider.Name, new { id = ViewBag.SliderId }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "result", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null))
            {
                @Html.AntiForgeryToken()
                <div id="result"></div>
                <input type="submit" class="btn btn-success" value="تایید" />
                <input type="button" id="btnClose" class="btn btn-danger" name="btnCancel" value="انصراف" />
            }
            @Ajax.ActionLink("بازگشت", MVC.Admin.Slider.ActionNames.Index, MVC.Admin.Slider.Name, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" }, new { @class = "btn btn-danger btn-RefreshParent hide" })
        </div>
    </div>
</div>
<script>
    run(function () {
        $('#btnClose').on('click', function () { $dialog.dialog('close'); });
    });
</script>
