@model IEnumerable<MyCMS.DomainClasses.Entities.Slider>

<section id="AdvancedSearch" class="swiper_wrapper full-screen clearfix" > 

    <div class="swiper-container swiper-parent divAdvancedSearchBack" >
        <div class="swiper-wrapper">

                    <div class="container clearfix">
                    </div>
            
        </div>
    </div>
</section>