
<section id="page-title" style="background-image:url(@ViewBag.FeatureImage)">

    <div class="container clearfix">
        <h1>@ViewBag.PageTitle</h1>
        <span>@ViewBag.PageSubtitle</span>
        <ol class="breadcrumb">
            <li>
                <a href="/">صفحه اصلی</a>
            </li>
            <li class="active">@ViewBag.PageTitle</li>
        </ol>
    </div>

</section>