
<div class="widget subscribe-widget clearfix">
    <h5>با ما از طریق <strong>شبکه های اجتماعی</strong> در ارتباط باشید ، شبکه های اجتماعی بستر مناسبی هستند که از طریق آنها میتوان به بهبود کیفیت ارتباطات و خدمات دسترسی پیدا کرد</h5>
</div>

<div class="widget clearfix" style="margin-bottom: -20px;">

    <div class="row">

        <div class="col-md-6 clearfix bottommargin-sm">
            <a href="@ViewBag.Facebook" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>
            <a href="@ViewBag.Facebook"><small style="display: block; margin-top: 6px;"><strong>Follow us</strong><br>On Facebook</small></a>
        </div>
        <div class="col-md-6 clearfix">
            <a href="@ViewBag.Linkedin" class="social-icon si-dark si-colored si-linkedin nobottommargin" style="margin-right: 10px;">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>
            <a href="@ViewBag.Linkedin"><small style="display: block; margin-top: 6px;"><strong>Follow us</strong><br>On Linkedin</small></a>
        </div>

    </div>

</div>
