<div class="portlet-title">
    <div class="caption">
        @Ajax.ActionLink("افزو جدید", MVC.Admin.ProductTypeGroup.ActionNames.Add, MVC.Admin.ProductTypeGroup.Name, null, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" }, new { @class = "btn btn-primary" })
    </div>
</div>
<br />

