    @font-face {
        font-family: sansregular;
        src: url('IRANSans-Regular.eot');
        /* IE9 Compatibility Modes */
        src: local("?"), url('../fonts/IRANSans-Regular.eot?#') format('eot'), /* IE6-IE8 */
        url('../fonts/IRANSans-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/IRANSans-Regular.ttf') format('truetype');
        /* Safari, Android, iOS */
        font-weight: normal !important;
        font-style: normal !important;
    }
    
    @font-face {
        font-family: sansbold;
        src: url('IRANSans-Bold.eot');
        /* IE9 Compatibility Modes */
        src: local("?"), url('../fonts/IRANSans-Bold.eot?#') format('eot'), /* IE6-IE8 */
        url('../fonts/IRANSans-Bold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/IRANSans-Bold.ttf') format('truetype');
        /* Safari, Android, iOS */
        font-weight: normal !important;
        font-style: normal !important;
    }
    
    @font-face {
        font-family: sanslight;
        src: url('IRANSans-Light.eot');
        /* IE9 Compatibility Modes */
        src: local("?"), url('../fonts/IRANSans-Light.eot?#') format('eot'), /* IE6-IE8 */
        url('../fonts/IRANSans-Light.woff') format('woff'), /* Modern Browsers */
        url('../fonts/IRANSans-Light.ttf') format('truetype');
        /* Safari, Android, iOS */
        font-weight: normal !important;
        font-style: normal !important;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    small,
    p,
    div {
        font-family: sanslight !important;
        letter-spacing: 0px;
        word-spacing: 0;
    }
    
    .breadcrumb {
        color: #383838 !important;
        font-weight: 300 !important;
        font-size: 13px !important;
    }
    
    .page-bar .page-breadcrumb>li>a,
    .page-bar .page-breadcrumb>li>span {
        text-decoration: none;
    }
    
    h1 {
        color: #3a3a3a;
        font-size: 19px !important;
        font-weight: 600;
        margin: 0;
        padding: 0;
        letter-spacing: -1px;
        word-spacing: -3px;
    }
    
    .breadcrumb {
        font-weight: 600;
    }
    
    .badge {
        font-family: "Open Sans", sans-serif !important;
    }
    
    .page-header.navbar .page-logo .logo-default {
        margin: 22px -1px 0 !important;
    }
    
    .btn {
        box-shadow: none !important;
        font-weight: 300 !important;
    }
    
    .page-bar .page-breadcrumb>li>a,
    .page-bar .page-breadcrumb>li>span {
        font-size: 12px !important;
    }
    
    .portlet.light>.portlet-title>.nav-tabs>li.active>a,
    .portlet.light>.portlet-title>.nav-tabs>li:hover>a {
        font-weight: bold;
        font-size: 13px;
    }
    
    .mt-radio>span:after {
        right: 5.2px !important;
        top: 4.5px !important;
        height: 4.5px !important;
        width: 4.2px !important;
        border-radius: 50%;
        background: #929292;
    }
    
    label {
        margin-bottom: 8px !important;
        font-size: 13px !important;
    }
    
    .page-sidebar .page-sidebar-menu .sub-menu>li>a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
        color: #eee;
        font-size: 11px;
    }
    
    .form-control,
    output {
        font-size: 12px;
    }
    
    .portlet.light>.portlet-title>.caption.caption-md>.caption-subject {
        font-size: 16px !important;
    }
    
    .dropdown-menu>li>a {
        font-size: 12px;
    }
    
    .page-md .page-bar .page-toolbar .btn-fit-height {
        padding-top: 10px;
        padding-bottom: 11px;
    }
    
    ul.dropdown-menu i {
        left: 5px;
    }
    
    .table td,
    .table th {
        font-size: 12px;
        color: #111 !important;
    }
    
    .page-container-bg-solid .page-title,
    .page-container-bg-solid .page-title small {
        color: #555 !important;
    }
    
    .page-bar .page-breadcrumb>li>a,
    .page-bar .page-breadcrumb>li>span {
        color: #555 !important;
    }
    
    .hint {
        font-size: 11px;
        margin-right: 8px;
    }
    
    .portlet>.portlet-body p,
    .table .btn {
        line-height: 22px;
        font-size: 12px;
    }
    
    .profile-usertitle-name {
        font-size: 16px;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username {
        font-size: 11px;
        color: #777;
    }
    
    .profile-usermenu ul li a {
        color: #777;
        font-size: 12px;
        font-weight: 400;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a {
        font-size: 11px;
    }
    
    .navbar-nav>li>a {
        line-height: 19px;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a i {
        margin-left: 3px;
    }
    
    div.login-content h1 {
        font-family: sansregular !important;
        font-size: 21px !important;
        font-weight: 600 !important;
        margin-bottom: 21px;
    }
    
    .mt-checkbox>span:after {
        border-width: 0 2px 2px 0 !important;
        transform: rotate(45deg) !important;
    }
    
   .btn:not(.md-skip) {
    padding: 7px 8px 8px;
}
    
    label.rememberme {
        font-size: 12px !important;
        color: #555 !important;
        font-weight: bold !important;
    }
    
    a.bs-reset {
        font-size: 12px !important;
        color: #555 !important;
        font-weight: bold !important;
    }
    
    form.forget-form h3 {
        font-family: sansregular !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        letter-spacing: -0.5px;
    }
    
    .user-login-5 .login-container>.login-content p {
        color: #a0a9b4;
        font-size: 12px;
        line-height: 22px;
        color: #555;
    }
    
    .user-login-5 .alert {
        margin-top: 0px !important;
    }
    
    .user-login-5 .login-container>.login-content>.login-form {
        margin-top: 0px !important;
    }
    
    .login-copyright {
        font-size: 12px;
    }
    
    .modal .modal-content .modal-title {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0;
        word-spacing: -2px;
        color: #777777;
    }
    
    .mt-checkbox>span,
    .mt-radio>span {
        border: 1px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
        height: 16px;
        width: 16px;
        background: #E6E6E6;
    }
    
    .mt-checkbox>span:after {
        right: 4px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid #666;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
    }
    
    .mt-checkbox,
    .mt-radio {
        padding-right: 24px;
        margin-bottom: 15px;
    }
    
    .ppatch {
        margin-right: 0 !important;
    }
    
    div.date-picker btn {
        background-color: #e1e5ec !important;
        border-color: #c2cad8 !important;
    }
    
    div.date-picker .btn.default:not(.btn-outline) {
        color: #666;
        background-color: #e1e5ec !important;
        border-color: #c2cad8 !important;
        height: 34px !important;
    }
    
    .today {
        position: relative;
        float: right;
        margin-right: 21px;
        top: 34%;
        font-size: 12px;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .message {
        font-size: 10px;
        line-height: 1.8;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject .from {
        font-size: 11px;
        font-weight: 600;
        color: #000;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
        font-size: 11px;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
        color: #222;
        font-size: 11px;
        line-height: 1.4;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject .time {
        font-size: 10px;
        float: left;
        color: #000;
        letter-spacing: -0.5px;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
        font-size: 11px;
        color: #222;
    }
    
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .time {
        font-size: 9px;
    }
    
    .page-sidebar .page-sidebar-menu>li>a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
        font-size: 11px;
    }
    
    .page-sidebar .page-sidebar-menu>li.active>a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
        font-size: 11px;
    }
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid rgba(51, 51, 51, 0.06);
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);
}
    button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none;
}
    .alert {
    border: none !important;
    box-shadow: none !important;
    margin: 15px 5px !important;
}
 div#dialog {
    height: auto !important;
}
@media (min-width: 768px) {
    #myModal .modal-dialog {
        width: 80% !important;
        margin: 30px auto;
    }
}