<div class="alert alert-warning" style="text-align:right;width:400px;">
    <button type="button" class="close" data-dismiss="alert" style="float:right;margin-top:-10px;margin-right:-10px;">×</button><br />

    @Html.ValidationSummary()
</div>